<!DOCtype>
<html>
<head>
<title>技术把关状态管理</title>
<style>
table{background-color: white;  width: 500px;height: 100px;margin: 0 auto; border: 1px solid #000;}
td{height: 20px;line-height: 20px;font-family: "微软雅黑";font-size: 14px;font-weight: normal;color: #0080FF;
text-align: center;border: 1px solid #CCC;background-color: white;;
}
#dht{padding:10px;

boder:1px solid#000000;

background: "教官信息管理.jpg";}
</style>
</head>
<body background="教官信息管理.jpg"
      style=" background-repeat:no-repeat ;
background-size:100% 100%;
background-attachment: fixed;">
<form name="form1" action="#" onsubmit="return a()" method="post" enctype="multipart/form-data">
<div align="center">
<h2>技术把关状态管理</h2>
</div>
<table>
<tr>
<tr><ul><ul><ul><ul><ul><ul><ul><ul><input type="submit" name="查询" value="查询信息" style="width:560px;"/></ul></ul></ul></ul></ul></ul></ul></ul></tr>
<td>阵地编号</td>
<td>测试程序</td>
<td>测试项目</td>
<td>岗位名称</td>
<td>导弹专业</td>
<td>测试条件</td>
<td>状态准备</td>
<td>操作状态</td>
<td>状态要求</td>
<td></td>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><input type="submit" name="modif" value="修改"/><input type="submit" name="delete" value="删除"/></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><input type="submit" name="modif" value="修改"/><input type="submit" name="delete" value="删除"/></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><input type="submit" name="modif" value="修改"/><input type="submit" name="delete" value="删除"/></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><input type="submit" name="modif" value="修改"/><input type="submit" name="delete" value="删除"/></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><input type="submit" name="modif" value="修改"/><input type="submit" name="delete" value="删除"/></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><input type="submit" name="modif" value="修改"/><input type="submit" name="delete" value="删除"/></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><input type="submit" name="modif" value="修改"/><input type="submit" name="delete" value="删除"/></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><input type="submit" name="modif" value="修改"/><input type="submit" name="delete" value="删除"/></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><input type="submit" name="modif" value="修改"/><input type="submit" name="delete" value="删除"/></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><input type="submit" name="modif" value="修改"/><input type="submit" name="delete" value="删除"/></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><input type="submit" name="modif" value="修改"/><input type="submit" name="delete" value="删除"/></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><input type="submit" name="modif" value="修改"/><input type="submit" name="delete" value="删除"/></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><input type="submit" name="modif" value="修改"/><input type="submit" name="delete" value="删除"/></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><input type="submit" name="modif" value="修改"/><input type="submit" name="delete" value="删除"/></td></tr>
<tr><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="submit" name="zengjia" value="增加信息" style="height:30px;width:70px;"/></td></tr>
</table> 
</div> 
</form>
</body>
</html>